@import "../../styles/app.scss";

.row {
  border-bottom: 1px solid $s-gray;
  cursor: pointer;

  &:hover {
    background-color: #f5f4f4;
  }

  td {
    padding: 0.5rem 0;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .row {
    td {
      padding: 0.5rem;
    }
  }
}
