@import "../../styles/app.scss";

.container {
  @include app_width;
  padding: 3rem 0rem;

  .form {
    margin-top: 2rem;

    .form_error {
      color: $m-danger;
      font-size: 0.9rem;
    }

    fieldset {
      border: none;
    }

    legend {
      margin-bottom: 1rem;
    }

    input[type="text"],
    input[type="tel"],
    input[type="date"] {
      @include input;
    }

    button {
      @include m-button;
    }

    .personal_info_wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
      width: 50%;

      .inputs {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
      }

      .dni_files_wrapper {
        display: flex;
        align-items: center;
        gap: 2rem;

        > div {
          display: flex;
          flex-direction: column;
          row-gap: 0.5rem;
          // flex-basis: 50%;
          input {
            &::file-selector-button {
              @include m-button;
            }
          }
        }
      }

      .flex {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 50%;

        > label {
          flex-basis: 50%;
        }
      }
    }

    .contacts_wrapper {
      margin-top: 2rem;

      > p {
        margin-bottom: 1rem;
      }

      > div {
        display: flex;
        align-items: baseline;
        gap: 1rem;

        label {
          white-space: nowrap;
        }

        .full_w {
          width: 100%;
          input {
            width: 100%;
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    .bank_info_wrapper {
      margin-top: 2rem;

      > p {
        margin-bottom: 1rem;
      }

      > div {
        display: grid;
        grid-template-columns: 10% 90%;
        column-gap: 0%;
        align-items: baseline;

        input[type="text"] {
          width: 50%;
          margin-bottom: 0.5rem;
        }
      }
    }

    .btn_wrapper {
      margin-top: 2rem;
      grid-column: 1/3;
      display: flex;
      justify-content: center;

      input {
        @include m-button;
      }
    }
  }
}

@media (max-width: 920px) {
  .container {
    .form {
      .personal_info_wrapper {
        width: 100%;

        .flex {
          width: 100%;
        }

        .dni_files_wrapper {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .contacts_wrapper {
        > div {
          flex-direction: column;
          gap: 0.5rem;

          input {
            width: 100%;
          }
        }
      }

      .bank_info_wrapper {
        > div {
          grid-template-columns: 15% 80%;
          column-gap: 5%;

          input[type="text"] {
            width: 100%;
          }
        }
      }
    }
  }
}
