@import "../../styles/app.scss";

.nav_container {
  background-color: $m-black;
  color: $m-white;
  box-shadow: 5px 5px 5px rgba(17, 17, 17, 0.356);

  ul {
    height: 70px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    position: relative;

    .logo_container {
      margin-right: auto;
      position: absolute;
      top: 25%;
      left: 0;
      filter: drop-shadow(5px 5px 5px rgba(17, 17, 17, 0.356));
    }

    li {
      cursor: pointer;
    }
  }
}
