@import "../../styles/app.scss";

.main {
  @include app_width;
  padding-top: calc(3rem + 70px);
  padding-bottom: 3rem;
  font-family: "Panton";
  color: $m-black;

  > div {
    display: grid;
    gap: 2em;
  }
}
