@import "../../styles/app.scss";

.container {
  @include app_width;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: 22% 76%;
  column-gap: 2%;

  .top_filters_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    margin-bottom: 2%;

    padding: 1rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 0.2rem;
  }
}


@media (max-width: 920px) {
  .container {
    padding-top: 1rem;

    section {
      grid-column: 1/-1;
    }

    .top_filters_wrapper {
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      box-shadow: none;
      background-color: transparent;
      margin-bottom: 2rem;
      padding: 0rem 1rem 1rem 1rem;
    }
  }
}
