@import "../../../styles/app.scss";

.form {
  flex-grow: 2;

  input {
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border: 1px solid $m-gray;
    width: 100%;
    font-weight: 600;
    color: $m-black;

    &:hover {
      border: 1px solid $m-orange;
    }

    &:active,
    &:focus {
      outline: 1px solid $m-orange;
      border: 1px solid $m-orange;
    }
  }
}
