@import "../../../styles/app.scss";

.form {
  flex-grow: 2;
  display: flex;
  align-items: center;

  &:hover .search_input {
    border-top: 1px solid $m-orange;
    border-bottom: 1px solid $m-orange;
    border-right: 1px solid $m-orange;
  }

  .search_icon {
    padding: 0.5rem;
    height: 36px;
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    background-color: $m-orange;
    color: white;
  }

  .search_input {
    height: 36px;
    padding: 0.5rem 1rem;
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    border-top: 1px solid $m-gray;
    border-bottom: 1px solid $m-gray;
    border-right: 1px solid $m-gray;
    border-left: none;
    width: 100%;
    font-weight: 600;
    color: $m-black;

    &:active,
    &:focus {
      outline: none;
      border-top: 1px solid $s-orange;
      border-bottom: 1px solid $s-orange;
      border-right: 1px solid $s-orange;
    }
  }
}

@media (max-width: 920px) {
  .form {
    width: 100%;
    
    .search_input{
      height: 45px;
    }
    
    .search_icon{
      height: calc(45px - 1rem);
    }
  }
}
