@import "../../styles/app.scss";

.container {
  font-family: "Panton";

  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 1rem;

  select {
    @include m-select;
    width: 100%;
    padding: .3rem .2rem;
  }
}
