@import "../../../styles/app.scss";

.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  select {
    @include m-select;
    padding: 0.2rem;
  }
}

@media (max-width: 920px) {
  .container {
    margin-left: auto;
  }
}
