@import "../../../styles/app.scss";

.container {
  .cards_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    row-gap: 2rem;
    justify-content: space-between;
  }

  .btn_wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    button {
      @include m-button;
    }
  }
}

@media (max-width: 920px) {
  .container {
    .cards_wrapper {
      grid-template-columns: 100%;
      justify-items: center;
    }
  }
}
