<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>ALTA DE CLIENTE DA</title>
  </head>
  <body>
    <h3>Alta de Cliente Aprobada</h3>
    <p>Hola <strong>{{fullName}}!</strong> tu alta de cliente fue aprobada.</p>
    <p>Ya puedes realizar reservas a través del sitio web.</p>
    <p>Muchas gracias!</p>
  </body>
</html>