<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>PEDIDO CANCELADO</title>
  </head>
  <body>
    <h3>Pedido Cancelado</h3>
    <p>El pedido de <strong>{{fullName}}!</strong> ha sido cancelado.</p>
    <p>El equipo de Guanaco Rental.</p>
  </body>
</html>