@import "../../../styles/app.scss";

.modal {
  display: grid;

  > div {
    display: flex;
    gap: 2em;

    button {
      @include m-button;
    }

    button::last-child {
      @include m-button-danger;
    }
  }
}

.gear_container {
  display: flex;
  align-items: center;
  gap: 1rem;

  .image_wrapper {
    width: 40px;
    height: 40px;
  }

  .flex_grow_2 {
    flex-grow: 2;
  }

  .x_btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      @include cross-button;
      // color: $s-danger;
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 480px) {
  .gear_container {
    margin: 0;
    width: 100%;
  }
}
