@import "../../styles/app.scss";

.card_container {
  box-shadow: 0px 0px 5px 1px rgba(71, 71, 71, 0.192);
  border-radius: 0.2rem;
  padding: 1rem 0.5rem;
  margin: 1rem 0rem;

  .info_container {
    display: grid;
    grid-template-columns: 3% 12.5% 12.5% 10% 10% 20% 13% 10% 10%;
    justify-items: flex-start;
    align-items: flex-start;

    button {
      @include m-button-orange;
      padding: .4rem;
      font-size: 0.7em;
    }
  }

  .remito_wrapper {
    display: flex;
    justify-content: flex-start;
    font-size: 0.9em;
    margin-left: 3%;
    
    > button {
      @include m-button-gray;
      width: 10%;
      font-size: 0.8em;
      padding: .2rem .4rem;
    }
  }

  .equipments_container {
    margin-left: 3%;
    padding: 1rem 0rem 1.5rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 60%;

    >p{
      font-weight: 600;
    }
  }
}
