@import "../styles/app.scss";

.main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include app_width;

  .title_wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .nav {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    cursor: pointer;

    background-color: $m-orange;
    border-radius: 0.5rem;
    color: $m-white;

    .nav_li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.7rem;
      border-radius: 0.5rem;
    }

    .nav_li_active {
      background-color: $s-orange;
    }
  }

  .petitions_grid {
    display: grid;
    grid-template-columns: 42% 54%;
    column-gap: 4%;
  }
}
