@import "../styles/app.scss";

.grey_bg {
  background-color: $bg-grey;
  min-height: 100vh;

  .select_location_wrapper {
    margin-top: 1rem;
    width: 25%;
  }

  .section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .bold {
      font-weight: 500;
    }

    .flex {
      display: flex;
      justify-content: space-around;
      gap: 2rem;

      > div {
        width: 100%;
      }

      h3 {
        margin-bottom: 1rem;
        font-weight: 600;
      }
    }

    .title_wrapper {
      display: flex;
      align-items: baseline;
      gap: 2rem;

      h3 {
        margin-bottom: 1rem;
        font-weight: 600;
      }

      .select_wrapper {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        select {
          @include m-select;
          padding: 0.2rem;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .grey_bg {
    .select_location_wrapper {
      width: 100%;
    }
    
    .section {
      padding-bottom: 3rem;

      .flex {
        flex-wrap: wrap;
      }

      .title_wrapper {
        flex-wrap: wrap;
        gap: 0.5rem;

        h3 {
          margin: 0;
        }

        .select_wrapper {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
