@import "../styles/app.scss";

.grey_bg {
  background-color: $bg-grey;
  min-height: 100vh;
  min-height: 100dvh;
  margin-bottom: 3rem;

  .select_location_wrapper {
    margin-top: 1rem;
    width: 25%;
  }

  .add_discount_btn_wrapper {
    margin-top: 2rem;

    button {
      @include m-button-orange;
    }
  }

  section {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .grey_bg {
    .add_coupon_btn_wrapper {
      width: 50%;
    }
  }
}

@media (max-width: 480px) {
  .grey_bg {
    .add_coupon_btn_wrapper {
      width: 100%;
    }
  }
}
