@import "../styles/app.scss";

.grey_bg {
  background-color: $bg-grey;
}

.main {
  @include app_width;
  margin-top: 3rem;
  padding-bottom: 3rem;
  min-height: 100vh;

  .title_wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

    .flex{
      display: flex;
      align-items: baseline;
      gap: 1rem;
    }
  }
}
