@import "../styles/app.scss";

.grey_bg {
  background-color: $bg-grey;
  min-height: 100vh;
  padding-bottom: 2rem;

  .main {
    padding-top: calc(3rem + 70px);
    @include app_width;

    h1 {
      margin-bottom: 2rem;
    }

    section {
      padding: 3rem 0rem;
      display: grid;
      grid-template-columns: 45% 52%;
      column-gap: 3%;

      .calendar {
        width: 100%;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        height: fit-content;
        padding: 0.5rem;

        .react-calendar__month-view__days__day--weekend {
          color: #dfdfdf;
        }

        .booked_tile {
          border-bottom: 3px solid $m-orange;
          padding: 1.2rem;
        }

        .free_tile {
          padding: 1.2rem;
        }
      }

      .info_wrapper {
        > div {
          margin: 0rem 0rem 1.5rem 0rem;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
          border-radius: 0.2rem;
          padding: 1rem;
          background-color: white;

          > p {
            margin-bottom: 0.5rem;
          }

          > div {
            display: flex;
            align-items: baseline;
            gap: 2rem;
          }

          .flex_10 {
            flex-basis: 10%;
          }

          .flex_20 {
            flex-basis: 20%;
          }

          .flex_50 {
            flex-basis: calc(50% - 6rem);
          }

          .bold {
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .grey_bg {
    .main {
      section {
        grid-template-columns: 100%;
        row-gap: 1rem;

        .calendar {
          width: 70%;
        }

        .info_wrapper {
          > div {
            flex-wrap: wrap;
            column-gap: 2rem;
            row-gap: 0.5rem;
            width: 70%;

            .flex_50 {
              flex-basis: calc(100% - 6rem);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .grey_bg {
    .main {
      nav {
        ul {
          flex-wrap: wrap;
          justify-content: space-around;
          gap: 1rem;

          li {
            width: 100%;
            padding: 0.5rem;
          }
        }
      }

      section {
        grid-template-columns: 100%;
        row-gap: 1rem;

        .calendar {
          width: 100%;
        }

        .info_wrapper {
          > div {
            width: 100%;

            >div{
              flex-wrap: wrap;
            }

            .location{
              margin-top: .5rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
