@import "../styles/app.scss";

.main {
  @include app_width;
  margin-top: 2rem;

  .table_titles {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 5% 10% 20% 15% 25% 15% 10%;
    justify-items: flex-start;
    padding: 0rem 0.5rem;
  }
}
