@import "../styles/app.scss";

.form {
  display: flex;
  flex-direction: column;

  input {
    @include input;
    margin-bottom: 1rem;
  }

  button {
    @include m-button;
  }
}

.grey_bg {
  background-color: $bg-grey;
  min-height: 100vh;

  .add_coupon_btn_wrapper {
    margin-top: 2rem;

    button {
      @include m-button-orange;
    }
  }

  .flex_50_50 {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;

    > section {
      flex-basis: calc(50% - 1rem);

      > div {
        margin-top: 1rem;
        display: flex;
        gap: 1rem;

        > div {
          flex-basis: 50%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .grey_bg {
    .flex_50_50 {
      flex-wrap: wrap;
      > section {
        flex-basis: 100%;
      }
    }
  }
}
