@import "../styles/app.scss";

.grey_bg {
  background-color: $bg-grey;
  min-height: 100vh;
  min-height: 100dvh;

  .select_location_wrapper {
    margin-top: 1rem;
    width: 25%;
  }

  .add_coupon_btn_wrapper {
    margin-top: 2rem;

    button {
      @include m-button-orange;
    }
  }

  .flex_50_50 {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;

    > section {
      flex-basis: calc(50% - 1rem);

      > div {
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        > div {
          flex-basis: calc(50% - 1rem);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .grey_bg {
    .add_coupon_btn_wrapper {
      width: 50%;
    }

    .flex_50_50 {
      flex-wrap: wrap;
      > section {
        flex-basis: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .grey_bg {
    .add_coupon_btn_wrapper {
      width: 100%;
    }

    .flex_50_50 {
      flex-wrap: wrap;
      > section {
        flex-basis: 100%;

        > div {
          > div {
            flex-basis: 100%;
          }
        }
      }
    }
  }
}
