@import "../styles/app.scss";

.main {
  @include app_width;
  margin-top: 3rem;

  .title_wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .table_titles {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 3% 12.5% 12.5% 10% 10% 20% 13% 10% 10%;
    justify-items: flex-start;
    padding: 0rem 0.5rem;
    font-weight: 600;
  }
}
