@import "../styles/app.scss";

.main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include app_width;

  .title_wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .nav {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    cursor: pointer;
  }

  .petitions_grid {
    display: grid;
    grid-template-columns: 50% 45%;
    column-gap: 5%;
  }
}
