@import "../styles/app.scss";

.bg_grey {
  background-color: $bg-grey;
  min-height: 100vh;
  padding-bottom: 3rem;
}

.nav {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;

  background-color: $m-orange;
  border-radius: 0.5rem;
  color: $m-white;
  box-shadow: 4px 4px 5px rgba(19, 19, 19, 0.329);

  .nav_li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .nav_li_active {
    background-color: $s-orange;
  }
}

.petitions_grid {
  display: grid;
  grid-template-columns: 42% 54%;
  column-gap: 4%;
}

.client_list_wrapper {
  input {
    width: 50%;
    padding: 0.4rem;
    border: 1px solid $m-gray;
    color: $m-black;
    border-radius: 0.2rem;

    &:focus {
      outline: 1px solid $m-black;
    }
  }

  .table_wrapper {
    background-color: white;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.2rem;
  }
}

@media (max-width: 768px) {
  .petitions_grid {
    grid-template-columns: 100%;
  }

  .client_list_wrapper {
    .table_wrapper {
      overflow: auto;
    }
  }
}

@media (max-width: 480px) {
  .nav {
    flex-wrap: wrap;
    row-gap: 0rem;

    .nav_li {
      flex-grow: 1;
    }
  }
}
