@import "../styles/app.scss";

.grey_bg {
  background-color: $bg-grey;
  padding-bottom: 3rem;
  min-height: 100vh;

  .flex {
    width: 80%;
    margin: 1rem 0rem;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    gap: 1rem;
    
    .bold{
      font-weight: 600
    }

    select {
      @include m-select;
      padding: .2rem;
    }
  }
}
