@mixin app_width {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

@mixin input {
  padding: 0.3rem;
  // border-radius: .2rem;
  background-color: rgba(236, 236, 236, 0.562);
  border: none;
  border-bottom: 1px solid $m-black;

  &:focus,
  &:active {
    border-bottom: 2px solid $m-orange;
    outline: $m-orange;
  }
}

@mixin m-button {
  padding: 0.5rem 1rem;
  background-color: $m-black;
  font-weight: bold;
  border: none;
  border-radius: 0.2rem;
  color: $m-white;
  cursor: pointer;

  &:hover {
    background-color: $m-orange;
    color: white;
  }
}

@mixin m-button-orange {
  padding: 0.5rem 1rem;
  background-color: $m-orange;
  font-weight: bold;
  border: none;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: $m-black;
    color: white;
  }
}

@mixin m-select {
  padding: .5rem;
  border: 1px solid $m-orange;
  background-color: white;
  border-radius: .2rem;

  &:focus,
  &:active {
    border: 2px solid $m-orange;
  }
}

$m-black: #1d1d1b;
$m-white: #ececec;
$m-orange: #d06021;
