$m-black: #1d1d1b;
$m-gray: #696961;
$s-gray: #d3d3ca;
$m-white: #ececec;
$m-orange: #d06021;
$s-orange: #e8831a;
$bg-grey: #ebebeb;

@mixin app_width {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

@mixin input {
  padding: 0.5rem;
  // border-radius: .2rem;
  background-color: rgba(236, 236, 236, 0.562);
  border: none;
  border-bottom: 1px solid $m-black;

  &:focus,
  &:active {
    border-bottom: 2px solid $m-orange;
    outline: $m-orange;
  }
}

@mixin btn-disabled {
  &:disabled {
    background-color: $s-gray;
    color: $m-black;
    border: none;

    &:hover {
      background-color: $s-gray;
      color: $m-black;
      border: none;
    }
  }
}

@mixin m-button {
  padding: 0.5rem 1rem;
  background-color: $m-black;
  font-weight: bold;
  border: none;
  border-radius: 0.2rem;
  color: $m-white;
  cursor: pointer;
  @include btn-disabled;

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    background-color: #464f42;
    color: white;
  }
}

@mixin m-button-gray {
  background-color: $s-gray;
  border: none;
  border-radius: 0.2rem;
  padding: 0.4rem;
  cursor: pointer;
  @include btn-disabled;

}

@mixin m-button-orange {
  padding: 0.5rem 1rem;
  background-color: $m-orange;
  font-weight: bold;
  border: none;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
  @include btn-disabled;

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    background-color: $s-orange;
    // border: 1px solid $m-black;
    color: $m-white;
  }
}

@mixin cross-button {
  padding: 0 0.3rem;
  background-color: transparent;
  border: none;
  color: $m-gray;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    color: $s-gray;
  }
}

@mixin m-select {
  padding: 0.5rem;
  border: 1px solid $m-black;
  background-color: white;
  border-radius: 0.2rem;
  cursor: pointer;

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    border: 1px solid $m-orange;
    color: $m-orange;
  }

  &:focus,
  &:active {
    border: 1px solid $m-orange;
    color: $m-black;
  }
}
