@import "../styles/app.scss";

.location_modal_title {
  font-family: "Panton";
  margin-bottom: 1rem;
  text-align: center;
}

.main {
  font-family: "Panton";
  background-color: #ebebeb;
  min-height: 100vh;
  min-height: 100dvh;
  padding-top: 70px;
}

.bold {
  font-weight: 700;
  font-size: 1.2em;
}

.modal_links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  a,
  button {
    font-size: 0.9em;
    flex-grow: 1;
    text-align: center;
  }

  button {
    @include m-button;
  }

  a {
    @include m-button-orange;
  }
}

@media (max-width: 768px) {
  .modal_links {
    gap: 1rem;

    a,
    button {
      width: 100%;
    }
  }
}
