@import "../styles/app.scss";

.location_modal_title {
  font-family: "Panton";
  margin-bottom: 1rem;
}

.main {
  font-family: "Panton";
  background-color: #ebebeb;
  min-height: 100vh;
  padding-top: 70px;
}

.bold {
  font-weight: 700;
  font-size: 1.2em;
}

.modal_links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;

  a,
  button {
    font-size: 0.9em;
  }

  button {
    @include m-button;
  }

  a {
    @include m-button-orange;
  }
}
