@import "./app.scss";

.main {
  @include app_width;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 69% 29%;
  column-gap: 2%;

  .table_titles {
    display: grid;
    grid-template-columns: 70% 15% 15%;
    margin-bottom: 1rem;
  }

  .summary {
    .select_date_btn {
      width: 100%;
    }

    .date_range {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: baseline;
    }

    .btns_wrapper {
      margin-top: 1rem;
      display: flex;
      row-gap: 0.5rem;
      flex-direction: column;
      width: 100%;

      button {
        @include m-button-orange;
      }
    }

    .total_price_wrapper {
      margin-top: 1rem;
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      .p_bold {
        font-size: 1.1em;
        font-weight: 700;
      }
    }
  }
}

.p_bold {
  font-weight: 600;
}
