@import "../styles/app.scss";

.main {
  @include app_width;
  padding-top: calc(3rem + 70px);
  padding-bottom: 3rem;
  font-family: "Panton";
  color: $m-black;

  .answers {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    max-width: 75ch;
    line-height: 22px;

    .q_title {
      font-weight: 600;
      margin-bottom: 0.2rem;
      cursor: pointer;
      display: list-item;

      &:hover {
        color: $m-orange;
      }
    }
  }
}
