@import "../styles/app.scss";

.bg_grey {
  background-color: $bg-grey;
  min-height: 100vh;
}

.main {
  @include app_width;
  margin-top: 3rem;
  font-family: "Panton";

  article {
    display: flex;
    margin-top: 2rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    background-color: white;

    .flex_60 {
      flex-basis: 50%;
      padding: 1rem;
    }

    .flex_20 {
      flex-basis: 25%;
      border-right: 1px solid $s-gray;
      padding: 1rem;
    }

    .bold {
      font-weight: 600;
    }
  }

  .link_wrapper {
    margin-top: 2rem;

    a {
      @include m-button-orange;
      // color: $m-black;

      &:visited {
        color: white;
      }
    }
  }
}

@media (max-width: 920px) {
  .main {
    margin-top: 3rem;

    article {
      flex-direction: column;

      .flex_20,
      .flex_60 {
        flex-basis: 100%;
      }

      .flex_20 {
        border: none;
        border-bottom: 1px solid $m-black;
      }
    }
  }
}
