@import "../../../styles/app.scss";

$h-gray: #2f2e2e;

.footer {
  background-color: $h-gray;
  padding: 2rem 0rem;
  display: grid;
  justify-items: center;
  gap: 1em;
  font-weight: 300;
  color: $m-white;

  .brand {
    display: grid;
    justify-items: center;
    gap: 0.2em;
    > p {
      font-size: 0.9em;
    }

    .privacy_link {
      font-size: 10px;
    }
  }
}
