@import "../../styles/app.scss";

.discount_card_container {
  background-color: white;
  padding: 1.5rem;
  

  >p{
    margin-bottom: 1rem;
    color: $m-black;

    strong {
      font-weight: 700;
      font-size: 1.1em;
    }
  }


  .flex {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 400;
    }

    input {
      border: none;
      font-size: 1em;
      font-weight: 600;
      padding: 0.2rem;
      border-bottom: 1px solid white;
      margin-bottom: .5rem;
      color: $m-black;

      &:disabled {
        background-color: white;
      }
    }

    .input_edit {
      border-bottom: 1px solid $m-orange;
      background-color: rgb(238, 238, 238);
    }
  }

  .edit_btn_wrapper {
    display: block;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    button {
      margin-top: 1rem;
      @include m-button;
      padding: 0.2rem 0.4rem;
    }
  }
}
