@import "../../../styles/app.scss";

.form_container {
  position: relative;
  height: 80vh;
  padding: 1rem;
  // box-shadow: 0px 0px 2px 1px rgba(70, 70, 70, 0.116);
  border-radius: 0.2rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: white;

  .click,
  .filters_icon_wrapper {
    display: none;
  }

  .flex_column {
    display: flex;
    flex-direction: column;

    > button {
      margin-bottom: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      justify-content: center;
      @include m-button;
    }

    .flex_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      margin-bottom: 0.2rem;

      .mock {
        color: $m-gray;
        font-size: 0.7em;
      }
    }
  }

  .select_category_wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    .bold {
      font-weight: 600;
    }

    button {
      background-color: transparent;
      border: none;
      text-align: left;
      cursor: pointer;
      padding: 0.2rem;
      border-radius: 0.2rem;
      font-family: "Panton";
      font-weight: 400;

      &:hover {
        color: $m-orange;
      }
    }

    .category_active {
      background-color: $s-orange;
      color: white;
      font-weight: 700;
      padding: 0.4rem;

      &:hover {
        color: white;
      }
    }
  }
}

@media (max-width: 920px) {
  .form_container {
    height: auto;
    position: relative;
    box-shadow: none;
    background-color: transparent;

    input[type="checkbox"] {
      display: none;
    }

    .filters_icon_wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;

      .filter_icon {
        color: $m-black;
      }
    }

    .click:checked ~ .mobile_filters {
      left: -1rem;
    }

    .click:checked ~ .filters_icon_wrapper {
      .filter_icon {
        color: $m-orange;
      }
    }

    .mobile_filters {
      position: fixed;
      top: 70px;
      left: calc(-100% - (-1rem));
      z-index: 5;
      height: 100vh;
      width: auto;
      background-color: $m-black;
      color: white;
      padding: 2rem;
      padding-top: 6rem;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      .flex_column {
        button {
          @include m-button-orange;
        }
      }

      .select_category_wrapper {
        margin-top: 2rem;
        button {
          color: $m-white;
        }
      }
    }
  }
}
