@import "../../../styles/app.scss";

.form_container {
  position: relative;
  height: 80vh;
  padding: 1rem;
  box-shadow: 0px 0px 2px 1px rgba(70, 70, 70, 0.116);
  border-radius: 0.2rem;

  .flex_column {
    display: flex;
    flex-direction: column;

    .flex_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      margin-bottom: 0.2rem;

      .mock {
        color: $m-gray;
        font-size: 0.7em;
      }
    }
  }

  .select_wrapper {
    margin-top: 1rem;

    select {
      width: 100%;
      margin: 0.5rem 0rem;
      border: 1px solid $m-gray;
      background-color: transparent;
      border-radius: 0.2rem;
      padding: 0.4rem;
      cursor: pointer;

      &:hover {
        border: 1px solid $m-black;
      }

      &:active,
      &:focus {
        outline: 1px solid $m-black;
        border: 1px solid $m-black;
      }
    }
  }

  button {
    margin-bottom: 1rem;
    width: 100%;
    @include m-button-gray;
  }
}
