@import "../../styles/app.scss";

.item_container {
  display: grid;
  grid-template-columns: 70% 15% 10% 5%;
  justify-items: flex-start;
  align-items: baseline;
  padding: 0.5rem 0rem;
  border-bottom: 2px solid $s-gray;

  .item_title {
    display: flex;
    align-items: center;
    gap: 1rem;

    .name_flex{
      display: flex;
      align-items: center;
      gap: .5rem;
      font-weight: 600;
    }
  }

  .availability_wrapper {
    font-size: 0.8em;

    .green {
      color: green;
    }

    .red {
      color: red;
    }
  }

  .btn_wrapper {
    display: flex;
    align-items: baseline;

    button {
      @include cross-button;
      font-size: .9em;
    }
  }
}
