@import "../../styles/app.scss";

.item_container {
  display: grid;
  grid-template-columns: 70% 30%;
  justify-items: flex-start;
  align-items: baseline;
  padding: 0.5rem 0rem;
  border-bottom: 2px solid $s-gray;

  .item_title {
    display: flex;
    align-items: center;
    gap: 1rem;

    .name_flex {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 600;
    }
  }

  .availability_wrapper {
    font-size: 0.8em;

    .green {
      color: green;
    }

    .red {
      color: red;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 50% 33.33% 16.66%;
    align-items: baseline;
    width: 100%;

    .btn_wrapper {
      display: flex;
      align-items: baseline;

      button {
        @include cross-button;
        font-size: 0.9em;
      }
    }
  }
}

@media (max-width: 920px) {
  .item_container {
    grid-template-columns: 100%;
    margin-bottom: 1rem;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 0.2rem;
    }
  }
}
