@import "../../styles/app.scss";

.coupon {
  margin-top: 2rem;
  font-size: 0.9em;
  border: 1px solid $m-gray;
  border-radius: 0.2rem;
  padding: 0.8rem;

  details {
    summary {
      display: list-item;
      cursor: pointer;
    }

    > div {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;

      input {
        @include input;
        padding: 0.2rem 0.4rem;
        border: none;
      }

      button {
        @include m-button;
        font-size: 0.9em;
        padding: 0.4rem 0.8rem;
      }
    }

    > p {
      color: $m-danger;
      margin-top: 0.5rem;
    }
  }
}
